{% extends "layouts/base.html" %}
{% block title %}Alterar senha - Tasker{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h3>Alterar senha</h3>
    <form method="POST">
      {{ form.csrf_token }}
      <div class="mb-3">{{ form.current_password.label }} {{ form.current_password(class="form-control") }}</div>
      <div class="mb-3">{{ form.new_password.label }} {{ form.new_password(class="form-control") }}</div>
      {{ form.submit(class="btn btn-primary") }}
    </form>
  </div>
</div>
{% endblock %}
